* {
  font-family: "Kaushan Script", cursive;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 3rem;
  border: 4px solid darkred;
  display: inline;
  padding: 4px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

a {
  color: darkred;
}

/* MAIN */

.main-img {
  width: 75%;
}

.intro {
  font-family: "Great Vibes", cursive;
}

/* CATEGORY SECTION */

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

figure {
  margin-left: 0;
}

.category-image {
  width: 100%;
}

/* BODY */
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

container {
  width: 80%;
  margin: 50px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.intro {
  font-size: medium;
}

/* FOOTER */

footer {
  margin-top: 6rem;
  border-top: 1px solid darkred;
}
