* {
  font-family: "Kaushan Script", cursive;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 3rem;
  border: 4px solid darkred;
  display: inline;
  padding: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 600rem;
  min-width: none;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

a {
  color: darkred;
}

@media screen and (max-width: 632px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* MAIN */

.main-img {
  width: 75%;
}

.intro {
  font-family: "Great Vibes", cursive;
}

.paintingfont {
  font-family: cursive;
  text-align: left;
  margin-right: 10rem;
}

.category-container {
  max-width: 60rem;
}

.womansback {
  width: 300px;
  margin-left: 10px;
}

.smalltextunder {
  text-align: left;
  width: 200px;
  font-family: fantasy;
  float: left;
  margin-top: 2px;
  color: indigo;
}

/* CATEGORY SECTION */

figure {
  margin-left: 0;
}

.category-image {
  width: 100%;
}

@media screen and (min-width: 632px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1105px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* BODY */

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

container {
  width: 80%;
  margin: 50px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.intro {
  font-size: medium;
}

div {
  color: darkred;
}

.fname {
  font-size: large;
}

.lname {
  font-size: large;
}

.E-mail {
  font-size: large;
}

.buytext {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}

.btn {
  height: 40px;
  width: 90px;
  background: linear-gradient(#7a09f3, #f7c3fa);
  position: relative;
  transition: transform 0.3s;
  animation: bubble 1s ease-out;
  animation-iteration-count: 20;
}

@keyframes bubble {
  0% {
    transform: scale (1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.aboutmetext {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#buybutton {
  height: 40px;
  width: 60px;
  background-color: deeppink;
  margin-left: 3rem;
}

.containerr button {
  background-color: forestgreen;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
  height: 40px;
  width: 80px;
}

div.containerr {
  height: 40px;
  width: 80px;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  animation-name: slide-in, shake;
  animation-duration: 3s, 2s;
  animation-delay: 0s, 3s;
  animation-iteration-count: 1, 6;
}

@keyframes shake {
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: rotate(-5deg) scale(1.1);
  }

  50% {
    transform: rotate(5deg) scale(1.1);
  }

  60% {
    transform: rotate(-5deg) scale(1.1);
  }

  70% {
    transform: rotate(5deg) scale(1.1);
  }

  80% {
    transform: rotate(-5deg) scale(1.1);
  }

  90% {
    transform: rotate(5deg) scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* FOOTER */

footer {
  margin-top: 6rem;
  border-top: 1px solid darkred;
}
